[Unit]
Description=javaws service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/var/www/html/scripts/service/start.sh
ExecStop=/var/www/html/scripts/service/stop.sh
ExecReload=/var/www/html/scripts/service/start.sh

[Install]
WantedBy=multi-user.target
