[Unit]
Description=javaws service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/var/www/html/scripts/start_server.sh
ExecStop=/var/www/html/scripts/stop_server.sh
ExecReload=/var/www/html/scripts/start_server.sh

[Install]
WantedBy=multi-user.target
