[Unit]
Description=javaws service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=ec2-user
Restart=always
RestartSec=1
ExecStart=/var/www/html/scripts/service/start.sh
ExecStop=/var/www/html/scripts/service/stop.sh
ExecReload=/var/www/html/scripts/service/start.sh
ExecRestart=/var/www/html/scripts/service/start.sh
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target
